<div class="row mb-4">
  <div class="col-md-3">
    <h3 class="bg-light text-center">会員一覧</h3>
    </div>
</div>
  <table class="table col-md-10 offset-md-1 table-hover">
    <thead class="thead-light">
      <tr>
        <th>ニックネーム</th>
      </tr>
    </thead>
    
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image(70,70) %><%= link_to customer.nickname, customer_path(customer.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
