
  <span>
    <h1 style="font-style: oblique; font-family: fantasy, cursive, serif, Times; text-shadow:2px 2px 0 gray;">Welcome to GAMEZONE !</h1>
    
  
    <h2>このサイトの使い方！</h2>
      <p class="ml-5 my-3">
        このサイトは、ゲームのタイトルごとにチャットが行え、<br>
        また、ゲームの募集も行えます！<br> </p>
    <h3>グループ作成方法</h3>
      <p class="ml-5 my-3">
      ヘッダーグループ⇒グループを作成⇒グループ名（ゲームタイトルなど）や紹介文（外部音声ツールURLなど）に情報入力<br>
      ※ゲームの画像の使用はお控えください。<br>
      参加する際は、グループから気になるグループ名をクリック⇒グループに参加するで参加できます。<br></p>
      <br>
    <h4>ゲームチャット</h4>
    <p class="ml-5 my-3">
      ヘッダーのゲームチャット⇒ゲームの画像をクリック⇒ゲームにチャットが出来、チャットに良いねも行えます。
    </p>
  
